@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Geologica:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    margin: 0;
    background-color: #F6F6F6;

}

*:not(p.homepage__quote) {
    font-family: "Geologica", sans-serif !important;

}

/* * {
    font-family: "Geologica", sans-serif !important;
} */


body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.link {
    color: inherit;
    text-decoration: none;


}

.link.active {
    color: #700b03;
}

h4.title {
    font-weight: 600;
    margin: 15px 0;
    text-align: center;
}