@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Geologica:wght@100..900&display=swap');

body {
    margin: 0;
    background-color: #F6F6F6;
    font-family: "Geologica", sans-serif;
}

.link {
    color: inherit;
    text-decoration: none;
}