/* pc */
@media (min-width: 1025px) {
    button.white-button {
        color: black;
        background-color: transparent;
        border: 1px solid black;
        margin: 15px;
        font-weight: 800;
        font-size: 20px;
        transition: background-color 0.3s, color 0.3s, border 0.3s;
    }

    button.white-button:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border: 1px solid white;
    }
}

/* tablet + mobile */
@media (max-width: 1024px) {
    button.white-button {
        color: white;
        border: 2px solid white;
        margin: 20px;
        font-weight: 700;
        font-size: 16px;
    }

    button.white-button:hover {
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
        /* font-weight: 600; */
        border: 2px solid white;
    }
}

/* tablet */
@media (min-width:640px) and (max-width: 1024px) {
    button.white-button {
        font-weight: 700;
        font-size: 30px;
    }
}

.accountpage__wishlist button.white-button,
.orders button.white-button,
.basket__content button.white-button {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    margin: 15px;
    font-weight: 800;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.accountpage__wishlist button.white-button:hover,
.orders button.white-button:hover,
.basket__content button.white-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
}