/* mobile */
@media (max-width:640px) {
    .product-card {
        width: 35%;
    }
}

/* tablet */
@media (min-width:641px) and (max-width: 1024px) {
    .product-card {
        width: 25%;
    }
}

/* pc */
@media (min-width: 1025px) {
    .product-card {
        width: 20%;
    }
}

.product-card__card-content {
    margin: 8px 0;
}

h3.product-card__card-name {
    font-weight: 600;
    font-size: 18px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

p.product-card__card-price {
    font-weight: 400;
    font-size: 20px;

}

div.product-card__card-cashback {
    font-weight: 400;

}
