/* pc */
@media (min-width: 1200px) {
    .products {
        width: 80%;
    }
}

/* tablet */
@media (max-width: 900px) {
    .products {
        width: 100%;
    }

}

/* .products {
    display: flex;
    justify-content: center;
 
} */

.products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}