/* tablet */
@media (max-width: 900px) {
    .product-card {
        width: 35%;
    }
}

/* pc */
@media (min-width: 900px) {
    .product-card {
        width: 20%;

    }
}

.product-card__card-content {
    margin: 8px 0;
}

h3.product-card__card-name {
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.product-card__card-price {
    font-weight: 500;
    font-size: 18px;

}

div.product-card__card-cashback {
    font-weight: 400;

}

/* 
.product-card {
    &:hover {
        box-shadow: mi;
    }
} */